<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escape the Monster!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='chase.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


</head>
<body>
    <h1>Escape the Monster!</h1>
    <div class="grid" id="grid"></div>
    <p><strong>Controls:</strong> <b>WASD</b>, Try to escape the monster with the jumbled controller!</p>
    <script src="{{ url_for('static', filename='chase.js') }}"></script>
</body>
</html>
