<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CS Game</title>
  <link rel="stylesheet" href="/static/cs1.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to Level 3!<h1>
    <h1>Perform the BFS!<h1>
    
    <!-- Large box for target number -->
    <div id="targetBox">
        <img src="/static/imgs/BFS.png" alt="BFS">
      </div>

    <h2>count value: 8!<h2>
    <button id="nextLevel">You Won!</button>
    <h2>Click each node in order of BFS:<h2>
    <!-- Display of the equation being formed -->
    <div id="answerDisplay"></div>
    
    <div id="buttons">
      <div class="number-buttons">
        <!-- Numbers 1-9 -->
        <button class="num">A</button>
        <button class="num">B</button>
        <button class="num">C</button>
        <button class="num">D</button>
        <button class="num">E</button>
        <button class="num">F</button>
        <button class="num">G</button>
      </div>
    </div>
    <div class="control-buttons">
        <button id="submit">Submit</button>
        <button id="clear">Clear</button>
    </div>
    
  </div>

  

  <script src="/static/cs3.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>

</body>
</html>
