<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Math Game</title>
  <link rel="stylesheet" href="/static/l1.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to Level 2!<h1>
    <h1>Get this solution using all three of the given operators and all four of the numbers once!<h1>
    
    <!-- Large box for target number -->
    <div id="targetBox">
      <div id="targetLabel">Target</div>
      <div id="targetNumber"></div>
    </div>

    <!-- Display of the equation being formed -->
    <div id="equationDisplay"></div>
    
    <div id="buttons">
      <div class="number-buttons">
        <!-- Numbers 1-9 -->
        <button class="num">2</button>
        <button class="num">6</button>
        <button class="num">11</button>
        <button class="num">17</button>
      </div>
      <div class="operator-buttons">
        <!-- Three allowed operators -->
        <button class="op">+</button>
        <button class="op">%</button>
      </div>
      <div class="parenthesis-buttons">
        <button class="paren">(</button>
        <button class="paren">)</button>
      </div>
      <div class="control-buttons">
        <button id="equals">=</button>
        <button id="clear">Clear</button>
      </div>
      <span id="didYouWin">Try to evaluate!</span>
      <button id="nextLevel">Next Level</button>
    </div>
  </div>

  

  <script src="/static/l2.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>

</body>
</html>
